<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Sanciones</title>



    @Styles.Render("~/Content/fortawesome")
    @Styles.Render("~/Content/ionicons")
    @Styles.Render("~/lib/style-github")
    @Styles.Render("~/lib/style-select2")
    @Styles.Render("~/Content/bracket")
    @Styles.Render("~/Content/Shared")
    @Styles.Render("~/Content/timepicker")
    @Styles.Render("~/Content/datatables.net-dt")
    @Styles.Render("~/Content/datatables.net-responsive-dt")
    @Styles.Render("~/Content/sweetalert")
    @Styles.Render("~/Content/sweetalert-minimal")

    <!-- Variables -->
    <script>
    var urlGetUser = '@Url.Action("GetUsuario", "Home")';
    var urlLogOut = '@Url.Action("SingOut", "Login")';
    var RouteAprobarInfracciones = '@Url.Action("AprobarInfracciones", "Sancion")';
    var urlGetListPapeletasParaAprobar = '@Url.Action("GetListPapeletaInfraccionParaAprobar", "Sancion")';
    </script>

    <!-- Libs -->
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-notify")
    @Scripts.Render("~/bundles/perfect-scrollbar")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/peity")

    @Scripts.Render("~/bundles/bracket")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/datatables.net")
    @Scripts.Render("~/bundles/datatables.net-dt")
    @Scripts.Render("~/bundles/datatables.net-responsive")
    @Scripts.Render("~/bundles/datatables.net-responsive-dt")
    @Scripts.Render("~/bundles/jquery.steps")

    @Scripts.Render("~/bundles/sweetalert")

    @Scripts.Render("~/bundles/function")
    @Scripts.Render("~/bundles/config")
    @Scripts.Render("~/bundles/jquery.i18n")
    @Scripts.Render("~/bundles/jquery.i18n.messagestore")
    @Scripts.Render("~/bundles/jquery.i18n.fallbacks")
    @Scripts.Render("~/bundles/jquery.i18n.language")

    @Scripts.Render("~/bundles/internationalization")

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->

    <link href="../../assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="../../assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="../../assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="../../css/pages/dashboard1.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../css/colors/default.css" id="theme" rel="stylesheet">



</head>
<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Wrap</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header" style="text-align:center">
                    <a class="navbar-brand" @*href="index.html"*@>
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            
                            <!-- Light Logo icon -->
                            <!--  <img src="../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
    <!--<h3 class="dark-logo" style="font-weight: 500;color: #64C7EC">Sanciones App</h3>-->
    <!-- dark Logo text -->
    <!--<img src="../../assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
    <!-- Light Logo text -->
    <!-- <img src="../../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />-->
</span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="fa fa-times"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <li id="mostrar_notificaciones_papeletas" hidden="hidden" class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="RutaAprobarInfracciones()"><i class="fa fa-bell-o"><span id="lbl_cantidad_papeletas_por_aprobar">1</span></i></a>
                        </li>
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *<img src="assets/images/icono-usuario.jpg" alt="user" class="" /><span id="lbl_nombre_apellido_usuario" class="hidden-md-down"> Usuario</span> </a>
                        </li>
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="logout()"><i class="icon ion-power"></i><span> Sign Out</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    @Html.Action("MenuLayout", "Home")
                    <!--  <ul id="sidebarnav">


                                    <!--      <li>
                                            <a class="waves-effect waves-dark" href="/Home/Index" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Gestión</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-dark" href="/Cadete/Index" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Cadetes</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Perfil</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Reportes</span></a>
                                        </li>
                                        <li>
                                            <a class="waves-effect waves-dark" href="/Sancion/ListarInfracciones" aria-expanded="false"><i class="fa fa-gears"></i><span class="hide-menu">Infracciones</span></a>
                                        </li>
                                   <li>
                        <a class="waves-effect waves-dark" href="icon-fontawesome.html" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Icons</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu">Map</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i class="fa fa-bookmark-o"></i><span class="hide-menu">Blank</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i class="fa fa-question-circle"></i><span class="hide-menu">404</span></a>
                    </li>
                                </ul>-->




                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer"> © 2018 App Sanciones </footer>
        </div>

    </div>


    @RenderSection("scripts", required: false)

    <!-- Bootstrap popper Core JavaScript -->
    <script src="../../assets/node_modules/bootstrap/js/popper.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="../../js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="../../assets/node_modules/raphael/raphael-min.js"></script>
    <script src="../../assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="../../assets/node_modules/d3/d3.min.js"></script>
    <script src="../../assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="../../js/dashboard1.js"></script>

    @Scripts.Render("~/bundles/layout")
</body>
</html>
