
@model List<Sanciones.Entidades.RSL.GetAccesosRsl>

<ul id="sidebarnav">
    @{
        if (Model != null)
        {
            foreach (var Menu in Model)
            {
                <li>
                    <a class="waves-effect waves-dark" href="@Url.Action(@Menu.view, @Menu.control, new { id = UrlParameter.Optional })" aria-expanded="false"><i class="@Menu.icon"></i><span class="hide-menu">@Menu.nom_acceso</span></a>
                </li>
            }
        }
    }

</ul>